# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
build

# Local env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage

# Server
server/temp/
server/ligands/
server/node_modules/
**/node_modules/
*.log
server_debug.log
